/* header */

.con{
    background: url(../image/Banner\ Image.png) ;
    background-position: center;
    background-position: top;
    background-size: 62%;
    color: white;
    /* height: 100vh; */
    background-repeat: no-repeat;
    position: relative;
    padding-top: 215px;
    padding-left: 710px;
    font-size: 32px;
    border: 1px solid blue;
    }
 
.conh{

  position: absolute;
  color: white;
  z-index: 2;
  top: 140px;
  left: 830px;
  font-size: 28px;
  margin-bottom: 0px;
 }

.conh1{
  margin-top: 0px;
 font-weight: bolder;
  font-size: 60px;
  /* font-weight: lighter; */
  font-family: "Arial", Helvetica, sans-serif;
  z-index: 2;
  position: absolute;
  text-align: center;
}
.overlay{
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0,.1));
   
    position: absolute;
    width: 1125px;
    height: 512px;
    opacity: 2;
   left: 380px;
   top: 2px;
  
  background-position: top;
  /* background-size: 100%; */
  z-index: 1;
  margin-bottom: 0px;
  
}
/* header 2nd part */

.header{
 border: 1px solid red;
}
.infoh{
  color: black;
  text-align: center;
  padding-top: 400px;
  padding-right: 700px;
  color: rgb(222, 20, 20);
  margin-bottom: 0px;
  border: 1px solid orange;
}
.our{
  font-size: 25px;
  margin-bottom: 5px;
  
}
.all{
  font-size: 40px;
  color: black;
  margin-top: 0px;
}
/* sec 1 */
.img{
 margin-left: 550px;
 margin-top: 20px;
 border: 1px solid greenyellow;
}
/* sec 2 */
.img2{
  background-image: url(../image/Group\ 70.png), url(../image/Vectorrr.png);
  background-size: 15%, 60%;
  
  
  height: 500px;
  background-repeat: no-repeat;
  border: 1px solid red;
 
background-position: center;
background-position: 1100px 50px, 370px 0px;  
 /* horizontal vertical */

margin-top: 70px;
position: relative;

}

.overlay2{
  background-image: linear-gradient( to right,
  rgba(0, 0, 0, 0.961),
rgba(35, 24, 24, 0.961),
rgba(18, 17, 17, 0.1),
rgba(18, 17, 17, 0.1));
 position: absolute;
 height: 500px;
 width: 1125px;
 /* background-color: red; */
 opacity: 1;
 left: 370px;
 z-index: 2;
 margin-top: 2px;

 
}
.welcome{
justify-content: center;
padding-left: 300px;
color: white;
position: absolute;
z-index: 2;
font-size: 50px;
font-family: sans-serif;


}
.with{
  justify-content: center;
padding-left: 300px;
color: white;
position: absolute;
z-index: 2;
padding-top: 150px;
font-size: 18px;
}
.btn{

z-index: 2;
position: absolute;
padding-left: 300px;
padding-top: 250px;

}
.join:hover{
  background-color:slategrey;
}
.join{
  background:none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.weldiv{
  padding-top: 50px;
  text-align: left;
  padding-left: 140px;
}
/* sec 3 */
.overlay3{
  background-image: linear-gradient(to bottom,
  rgba(193, 162, 151, 0.921),
  rgba(188, 168, 152, 0.937),
  rgba(219, 208, 206, 0.885),
  rgba(0, 0, 0, 0.1));  
  opacity: .4;
  width: 1125px;
  height: 500px;
  left: 379px;
  /* top: 1000px; */
  /* padding-top: 150px; */
  margin-top: 50px;
  position: absolute;
}
.plheader{
  z-index: 2;
  position: absolute;
  /* padding-left: 300px; */
padding-left: 660px;
font-size: 30px;
padding-top: 150px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bold;
}
.pdt{
  color: red;
  font-weight: bold;
}
.join1{

  position: absolute;
  z-index: 2;
  padding-left: 890px;
  padding-top: 410px;
}
.join11{
  padding: 12px 25px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.join11:hover{
  background-color: lightsalmon;
}
/* sec 4 */

.ws{
  border: 1px solid blue;
  margin-top: 630px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 0px;
}
.new{
  padding-top: 60px;
  font-size: 17px;
  padding-left: 250px;
  /* padding-right: 90px; */
}
.tt4{
  padding-right: 200px;
  padding-bottom: 50px;
  margin-left: 0px;
  padding-top: 60px;
  font-size: 20px;
}
.com{
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.laypic{
     margin-top: 0px;
     margin-left: 50px;
     margin-right: 70px;
     /* background-color: yellow; */
   
}
.happy1{
  /* background-color: aquamarine; */
  align-items: start;
  margin-left: 0px;
  /* padding-bottom: 90px; */
  margin-top: 0px;

}


.laypic{
  margin: 0px;
  border: 20px solid red;
}
  
.new,.laypic,.tt4{
  border: 1px solid brown ;
}
.happy{
  border: 1px solid red;
 margin-right: 0px;
  /* background-color: aqua; */
}
.cred{
  color: red;
  /* background-color: aqua; */
  margin-bottom: 0px;
}
#crd{
  margin-bottom: 0px;
}
/* sec 5 */
.what{
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  border: 1px solid blueviolet;
}
.hol{
  font-size: 40px;
  margin-top: 0px;
  font-family: 'Courier New', Courier, monospace;
}
/* sec 6 */
.holiimg{
  border: 2px solid gold;
  margin-top: 30px;
  background-image: url(../image/rectangle/Rectangle\ 1.png), url(../image/Group\ 75.png),url(../image/rectangle/Rectangle\ 2.png) ;
  background-repeat: no-repeat;
  height: 70vh;
 background-position: top right 279px, 30% 70%,center 433px;
 background-size: auto,600px,auto;
 margin-bottom: 0px;

}
.g44{
  padding-left: 1020px;
  padding-top: 78px;
  margin-bottom: 0px;
}
/* sec 7 */
.the{
  margin-top: 90px;
  background-repeat: no-repeat;
  background-image: url(../image/rectangle/Rectangle\ 3.png), url(../image/rectangle/Rectangle\ 4.png),url(../image/rectangle/Rectangle\ 5.png),url(../image/rectangle/Rectangle\ 6.png),url(../image/rectangle/Rectangle\ 7.png),url(../image/rectangle/Rectangle\ 8.png);
  background-position: 290px 170px,725px 170px,1160px 170px,290px 635px,725px 635px,1160px 635px;
  height: 115vh;
  border: 1px solid blueviolet;
 
}
.tb{
  color: red;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 290px;
}
.ow{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 0px;
  margin-left: 290px;
}
.tbow{
  font-size: 19px;
  margin-left: 290px;
  /* margin-bottom: 100px; */
}
/* sec 8 */